html,
#trade {
  font-family: "Semplicita Light", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* background-color: dimgrey; */
  /* width: 50vw; */
  height: 70vh;
  display: block;
}
/* BTN */
/* CSS */
input[type="number"]::-webkit-clear-button {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"]::-webkit-outside-spin-button {
  display: none;
}
/* CSS */
.button-41 {
  margin-bottom: 10px;

  background-color: initial;
  background-image: linear-gradient(-180deg, #189f62, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  /* display: inline-block; */
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 44px;
  /* line-height: 44px; */
  outline: 0;
  overflow: hidden;
  /* padding: 0 20px; */
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

.button-41:hover {
  background: #00bd68;
}

/* Cancel B */
.button-42 {
  margin-bottom: 10px;
  background-color: initial;
  background-image: linear-gradient(-180deg, #b32727, #bd0300);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  /* display: inline-block; */
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 44px;
  /* line-height: 44px; */
  outline: 0;
  overflow: hidden;
  /* padding: 0 20px; */
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

.button-42:hover {
  background: #bd0000;
}
/* BTN */

.wrapper {
  /* padding: 10px; */
  /* width: 500px;
  height: 200px; */
  overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
  width: 5px;
}

.wrapper::-webkit-scrollbar-track {
  background: rgba(86, 86, 86, 0.04);
}

.wrapper::-webkit-scrollbar-thumb {
  background: #dbaa1a;
}
